*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(92, 85, 85);
}
.navbar{
    z-index: 6;
    width: 100vw;
    background-color: rgb(92, 85, 85);
    display: flex;
    color: orange;
    font-size: 28px;
    /* height: 30px; */
    align-items: center; 
    align-content: center;
    position: fixed;
    font-family: 'Architects Daughter', cursive;

 
   flex-wrap: wrap;
   padding: 10px;
   /* border: 1px solid yellow; */
    
}
.second {
    display: flex;
    margin-left: auto;
    width: 60%;
    /* border: 1px solid white; */
    justify-content: space-evenly;
}
.navbar:hover{
    box-shadow: 0px 2px 2px grey;
}
nav div a{
    /* margin: 0px 10px 0px 10px; */
    color: orange;
    text-decoration: none;
    
    
    border-radius: 10%; 
    padding: 5px 10px 5px 10px;
    
   
}
.companyname{
  
    color: yellowgreen;
    font-size: 37px;
    font-weight: 900;
}
nav div a:hover{
    background-color: rgb(65, 60, 60);
    color: whitesmoke;
}

/* responsiveness in navbar */

@media screen and (max-width:890px){
    .navbar{
        justify-content: start;

    }
    .second{
        margin-left: unset;
        width: unset;
        
    }
    
    
}
@media screen and (max-width:540px) {
    .navbar{
        flex-direction: column;
    }
    .second{
        flex-direction: column;
    }
    
}

main{
    
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    background-color: rgb(87, 83, 85);
}

main article{
    background-color: white;
    text-align: center;
    font-size: 18px;
    height: 510px;  /*here*/
}
.art img{
    margin-top: 20px;
    height: 35%;
    width: 90%;
    box-shadow: 0px 0px 10px rgb(104, 103, 103);
    border-radius: 6px;
    
}

main article p{
    margin-top: 9px;
    font-size: 1.2em;
    color: rgb(88, 85, 65)
}

.bl{
    font-weight: 900;
    font-size: 30px;
    color: rgb(153, 185, 87);
}
.btn{
    padding: 5px;
    font-size: 20px;
    width: 74px;
    background-color: rgb(65, 60, 60);
    border: none;
    height: 32px;
    color: rgb(212, 211, 211);
    border-radius: 3px;
}
.btn:hover{
    background-color: rgb(47, 206, 47);
    cursor: pointer;
    color: rgb(65, 60, 60);
}

main .art:hover{
    transform: scale(1.01);
    transition: 0.35s;
    transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    cursor: pointer;
    /* z-index: 1; */
    box-shadow: 2px 2px 5px grey;
}


header{
    background-color: white;
    position: relative;
    height: 700px;
    width: 100vw;

}
header div{
    height: 700px;
    width: 100vw;
}
header div img{
    height: 100%;
    width: 100%;
}

header div:nth-of-type(1){
    z-index: 5;
    position: absolute;
    animation-name: one;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    
}
header div:nth-of-type(2){
    z-index: 4;
    position: absolute;
    animation-name: two;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}
header div:nth-of-type(3){
    z-index: 3;
    position: absolute;
    animation-name: three;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}
header div:nth-of-type(4){
    z-index: 2;
    position: absolute;
    animation-name: four;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

@keyframes one{
    25%{
        opacity: 1;
        transform: translateY(-20px);
    }
    50%{
        opacity: 0;
       
    }
    75%{
        opacity: 0;
       
    }
    100%{
        opacity: 0;
       
    }

}
@keyframes two{
    25%{
        opacity: 0;
       
    }
    50%{
        opacity: 1;
        transform: translateY(-20px);
       
    }
    75%{
        opacity: 0;
       
    }
    100%{
        opacity: 0;
       
    }

}
@keyframes three{
    25%{
        opacity: 0;
       
    }
    50%{
        opacity: 0;
       
    }
    75%{
        opacity: 1;
        transform: translateY(-20px);
       
    }
    100%{
        opacity: 0;
       
    }

}
@keyframes four{
    25%{
        opacity: 0;
       
    }
    50%{
       opacity: 0;
    }
    75%{
        opacity: 0;
       
    }
    100%{
        opacity: 1;
        transform: translateY(-20px);
       
    }

}

section{
    height: 500px;
    width: 900px;
    margin: 20px auto;
    border: 1px solid black;
}

.menu{
    
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    font-size: 1em;
    gap: 20px;

    /* background-color: rgb(111, 107, 114); */
    background-color: white;
    padding: 10px;
    /* border-radius: 20px; */
}



.menu div{
    padding: 5px;
    background-color: #a5a58d;
    text-align: center;
    color: rgb(109, 226, 148);
    font-size: 3em;
    border-radius: 20px;
    color: rgb(19, 82, 45);
    font-family: 'Architects Daughter', cursive;

}
.menuhead{
    grid-column-start: 1;
    grid-column-end: 4;
   
    
}
.menuhead::after{
    content: "\270E" "\1F4D6";
}
.menu ul{
    list-style-type: none;
    font-family: 'Sacramento', cursive;
    font-weight: 900;
    margin-top: 20px;
    color: black;
    
}
span{
    color: white;
    font-size: 0.5em;
}
@media screen and (max-width:870px) {
    
    .menu{
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr));

        
    }
    .menuhead{
        grid-column-start: 1;
        grid-column-end: 3;
       
        
    }
   
    
}
@media screen and (max-width:750px) {
    
    .menu{
        grid-template-columns: repeat(auto-fill,minmax(200px,1fr));

        
    }
    .menuhead{
        grid-column-start: 1;
        grid-column-end: 4;
       
        
    }
   
    
}
@media screen and (max-width:620px) {
    
    .menu{
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
 
        
    }
    .menuhead{
        grid-column-start: 1;
        grid-column-end: 2;
       
        
    }
   
    
}

/* form */
.sf{
    height: 720px;
    width: 98.4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1555118999-197be0fc7464?ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODF8fGdyZXklMjBkcmlua3N8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

h2{
    /* border-radius: 15px 15px 0px 0px; */
    padding: 10px;
    background-color: orange;
    text-align: center;
    
}
form{
    border-radius: 15px;
    padding: 10px;
    font-size: 23px;
    height: 600px;
    width: 700px;
    background-color: orange;
    opacity: 0.4;
    color: black;
    font-weight: 900;
    
}
form:hover{
    opacity: 0.6;
}

.formbutton{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    width: 100px;
    
}
.formbutton:hover{
    background-color: rgb(177, 240, 52);
    color: black
}
footer{

    font-size: 24px;
    padding: 10px;
    background-color: rgb(126, 122, 122);
    
}
.pi{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.sppara{
    clear: left;
}

.end{
    background-color: black;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;

}
.end div{
    padding: 20px;
    
    background-color: black;
    opacity: 0.2;

}
.end div:nth-of-type(1):hover{
    opacity: 1;
}
.end div:nth-of-type(2):hover{
    opacity: 1;
}
.end div:nth-of-type(3):hover{
    opacity: 1;
}
