*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(92, 85, 85);
}
.navbar{
    height: 69px;
    width: 100vw;
    background-color: rgb(92, 85, 85);
    display: flex;
    color: orange;
    font-size: 28px;
    /* justify-content: space-evenly; */
    align-items: center; /* middle of cross axis*/
    /* flex-direction: row-reverse; */
    position: fixed;
    font-family: 'Architects Daughter', cursive;
    /* box-shadow: 0px 2px 2px grey; */
    z-index: 5;
   flex-wrap: wrap;
    
}
.navbar:hover{
    box-shadow: 0px 2px 2px grey;
}
nav div a{
    margin: 0px 10px 0px 10px;
    color: orange;
    text-decoration: none;
    height: 50px;
    width: 50px;
    /* border: 1px solid white; */
    padding: 5px 10px 5px 10px;
    border-radius: 10%;
    
   
}
.companyname{
    margin-left: 40px;
    margin-right: 360px;
    color: yellowgreen;
    font-size: 37px;
    font-weight: 900;
}
nav div a:hover{
    background-color: rgb(65, 60, 60);
    color: whitesmoke;
}

header{
    display: inline;
    height: 910px;
    width: 460px;
    /* border: 1px solid blue; */
    position: absolute;
    /* float: left; */
}
header div{
    height: 910px;
    width: 460px;
}
header div img{
    height: 910px;
    width: 460px;
    
    
}
header div:nth-of-type(1){
    z-index: 4;
    position: absolute;
    animation-name: fadeout;
    animation-duration: 16s;
    animation-delay: 1s;
    animation-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
    /* animation-play-state: paused; */

}
header div:nth-of-type(2){
    z-index: 3;
    position: absolute;
    animation-name: fadeout;
    animation-duration: 17s;
    animation-delay: 6s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
    /* animation-play-state: paused; */

}
header div:nth-of-type(3){
    z-index: 2;
    position: absolute;
    animation-name: fadeout;
    animation-duration: 18s;
    animation-delay: 12s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
    /* animation-play-state: paused; */

}
header div:nth-of-type(4){
    z-index: 1;

}

@keyframes fadeout{

    100%{
        z-index: 4;
       opacity: 0;
    }

}
/* @keyframes fadeout2{
    100%{
        opacity: 0;
    }
} */


/* main  */

main{
    width: 63.5vw;
    height: 910px;
    display: flex;
    margin-left: 450px;
    /* margin-right: 0px; */
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* border: 1px solid grey; */
    /* padding: 8px; */
    background-color: rgb(87, 83, 85);
    
}
main article{
    height: 390px;
    width: 350px;
    /* border: 2px solid rgb(116, 121, 121); */
    /* box-shadow: 2px 2px 5px grey; */
    text-align: center;
    font-size: 18px;
    /* margin: 10px; */
}
main article img{
    height: 180px;
    width: 270px;
    margin-top: 10px;
    box-shadow: 0px 0px 10px rgb(104, 103, 103);
    border-radius: 6px;
    
}
main article p{
    margin-top: 9px;
}
.bl{
    font-weight: 900;
    font-size: 20px;
    color: rgb(153, 185, 87);
}
.btn{
    padding: 5px;
    font-size: 20px;
    width: 74px;
    background-color: rgb(65, 60, 60);
    border: none;
    height: 32px;
    color: rgb(212, 211, 211);
    border-radius: 3px;
}
.btn:hover{
    background-color: rgb(47, 206, 47);
    cursor: pointer;
    color: rgb(65, 60, 60);
}

main article:hover{
    transform: scale(1.02);
    transition: 0.35s;
    transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    cursor: pointer;
    z-index: 1;
    box-shadow: 2px 2px 5px grey;
}
main article:nth-of-type(1){
    margin-top: 100px;
}
main article:nth-of-type(2){
    margin-top: 100px;
}
main article:nth-of-type(3){
    margin-top: 10px;
}
main article:nth-of-type(4){
    margin-top: 10px;
}
/* 
@media screen and (max-width:630px) {
    nav{
        height: 100px;
        flex-direction: column;
        align-content: center;
        height: 200px;
    }
    ul{
        flex-direction: column;
        align-items: center;
        height: 100px;
    }
    main{
        margin-top: 180px;
    }
    main article p{
        visibility: hidden;
    }
} */

section{
    height: 500px;
    width: 900px;
    margin: 20px auto;
    border: 1px solid black;
}

.menu{
    height: 600px;
    width: 92vw;
    margin: 10px auto;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    font-size: 30px;
    gap: 20px;
    grid-template-rows: 50px;
    background-color: rgb(111, 107, 114);
    padding: 10px;
    border-radius: 20px;
}

/* menu  */
.menu div{
    padding: 5px;
    background-color: rgb(143, 110, 127);
    text-align: center;
    color: rgb(109, 226, 148);
    font-size: 40px;
    border-radius: 20px;
    color: burlywood;
    font-family: 'Architects Daughter', cursive;

}
.menuhead{
    grid-column-start: 1;
    grid-column-end: 4;
   
    
}
.menuhead::after{
    content: "\270E" "\1F4D6";
}
.menu ul{
    list-style-type: none;
    font-family: 'Sacramento', cursive;
    font-weight: 900;
    margin-top: 20px;
    color: black;
    
}

/* form */
section{
    height: 720px;
    width: 98.4vw;
    /* background-color: rgb(248, 209, 135); */
    border-radius: 0px 0px 15px 15px;
    /* border: 1px solid whitesmoke; */
    border-top: 1px solid orange;
    /* position: absolute; */
    /* margin-left: 280px; */
    /* z-index: 1; */
    /* opacity: 0.7; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1555118999-197be0fc7464?ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODF8fGdyZXklMjBkcmlua3N8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

h2{
    border-radius: 15px 15px 0px 0px;
    padding: 10px;
    background-color: orange;
    
}
form{
    border-radius: 15px;
    padding: 10px;
    font-size: 23px;
    border: 1px solid rgb(182, 15, 168);
    height: 600px;
    width: 700px;
    background-color: orange;
    opacity: 0.4;
    color: black;
    font-weight: 900;
    
}
form:hover{
    opacity: 0.6;
}

.formbutton{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    width: 100px;
    
}
.formbutton:hover{
    background-color: rgb(177, 240, 52);
    color: black
}
footer{
    height: 1000px;
    width: 98.4vw;
    border: 1px solid white;
    font-size: 24px;
    padding: 10px;
    background-color: rgb(126, 122, 122);
    
}
.pi{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.sppara{
    clear: left;
}
span{
    font-size: 20px;
    color: white;
}
.fd{
    height: 50%;
    width: 90%;
    /* border: 1px solid white; */
    margin: 10px auto;
    /* background-color: rgb(147, 197, 47); */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
article div{
    border: 1px solid thistle;
    font-size: 30px;
    padding: 20px;
    border-radius: 15px;
    opacity: 0.7;

}
article div:nth-of-type(1){
    background-color: rgb(152, 231, 152);
}
article div:nth-of-type(2){
    background-color: rgb(240, 187, 195);
  
}
article div:nth-of-type(3){
    background-color: rgb(179, 208, 218);
}
article div:nth-of-type(4){
    background-color: rgb(231, 231, 211);
}
 article div button{
    font-size: 30px;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    transition: 0.4s;
}
article div button:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 2px gray;
    margin-left: 30px;
    
}
article div a{
    text-decoration: none;
    color: black;
}

@media screen and (max-width:990px){
    header{
        position: static;
    }

    

}












